/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: #e5e5e5;
  --ion-color-primary-rgb: 229, 229, 229;
  --ion-color-primary-contrast: #111111;
  --ion-color-primary-contrast-rgb: 17, 17, 17;
  --ion-color-primary-shade: #cacaca;
  --ion-color-primary-tint: #e8e8e8;
}

ion-button {
  --background: #e5e5e5;
  --color: #111111;
  --border-color: #111111;
  --border-radius: 8px;
  font-weight: 600;
}

ion-button[fill="outline"] {
  --background: transparent;
  --color: #111111;
  --border-color: #111111;
}
